@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_slnt\wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #272d38;
    text-transform: capitalize;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
  }
  
   .navbar-light ul {
    list-style: none;
    display: none;
  } 
  
  button {
    border: none;
    cursor: pointer;
  }
  

  img {
    max-width: 100%;
  }
  
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    
}

.navbar-lift{
    font-weight: 700;
font-size: 20px;
line-height: 24px;

}
.navbar-lift a{
    left: 94.39%;
right: 0%;
bottom: 5467px;
height: 24px;
transform: rotate(-180deg);
}
.navbar-right{
    display: flex;

    gap: 15.7rem;
    align-items: center;
}
.navbar-light a:hover{
    font-weight: 600;
}

.intro{
    display: flex;
flex-direction: column;
align-items: center;
}
.intro-build{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.intro-build h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #272D38;
    text-align: center;
    max-width: 378px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 10.1rem;
}
.intro p{
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;
text-transform: capitalize;
color: #272D38;
margin-top: 2.4rem;

}
.intro button{
    max-width: 14rem;
    height: 3.5rem;
    background: #8eadd5;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 4.8rem;
    padding: 0 15px;
    margin-top: 2.4rem;
}
.intro-img img{
max-width: 358px;
height: 358px;
left: 36px;
top: 474px;
margin-top: 4.8rem;
}
.intro{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.company-logo{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.company-trusted h6{
    font-weight: 300;
font-size: 14px;
line-height: 100%;
color: #667085;
margin-top: 12rem;



}
.company-img{
    background: #f6f6f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8.8rem;
    margin-top: 1.6rem;
    padding: 2rem 4rem;
    gap: 3.8rem;
}

#about{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content h2{
    max-width: 33.7rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    text-transform: capitalize;
    color: #272d38;
    margin-bottom: 2.4rem;
}
.about-content p{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    max-width: 35rem;
    text-align: center;
    margin-top: 2.4rem;
}
.about-content a i{
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    max-width: 38rem;
    font-size: 3rem;
    align-items: center;
    margin-top: 7.8rem;
}
.about-img{
margin-top: 24.48px;
}
#testimonials{
    flex-direction: column;
    align-items: center;
    display: flex;
}
#testimonials p{
    font-weight: 400;
font-size: 12px;
line-height: 28px;
margin-top: 2.7rem;
}
.testimonials-card img{
    margin-top: 3.2rem;
    max-width: 129px;
height: 130px;
border: 1px solid rgba(222, 220, 219, 0.5);
border-radius: 96.5px;
}
#testimonials h2
{
    font-weight: 700;
font-size: 32px;
line-height: 100%;
margin-top: 1.6rem;
max-width: 38rem;
text-align: center;
margin-top: 0.8rem;
}
.testimonials-cards{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    font-variant: diagonal-fractions;
    max-width: 37.4rem;
    
    border-radius: 2rem;
    margin-bottom: 4rem;
    padding: 3.2rem 0;
    margin-top: 1.6rem;
   
}
.testimonials-card{
    max-width: 37.4rem;
    background: #f6f6f6;
    border-radius: 2rem;
    margin-bottom: 4rem;
    padding: 3.2rem 2.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.testimonials-card h4{
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #272d38;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}
.testimonials-card p{
    max-width: 281px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 130%;
    text-transform: capitalize;
    color: #272d38;
    text-align: center;
}
.part img{
    display: none;
}
#part{
    max-width: 37.9rem;
  height: 35rem;
  background: #f6f6f6;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12.8rem;
  margin-top: 8rem;
  
}

.part-text h3{
    max-width: 29rem;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 3.2rem;
    text-transform: none;
}
.part-text p{
    max-width: 29rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 4.8rem;
    text-transform: none;
}
.part-text{
    background: #f6f6f6;
    border-radius: 2rem;
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
    padding-top: 5.6rem;
    margin-bottom: 5.8rem;

}
.part-text button{
    max-width: 16.7rem;
    height: 4.8rem;
    background: #8eadd5;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 2.2rem;
    margin-bottom: 5.8rem;
}
footer{
    background-color: #f6f6f6;
    padding-top: 10.4rem;
    padding-bottom: 2.4rem;
    text-align: center;
}
.footer-links h5{
font-weight: 700;
font-size: 1.8rem;
line-height: 2.8rem;
margin-bottom: 3.2rem;
}
.links-box p{
    max-width: 189.29px;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 7.2rem;
}
.links-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.links-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.2rem;
}
.links-block ul li{
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2.4rem;
    list-style: none;
    
    }
.footer-details {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
   
 }


  @media screen and (min-width: 1248px) {
    html {
      font-size: 11.25px;
    }
    .container {
      max-width: 1065px;
    }
    nav ul {
        display: inline-block;
      }
      .navbar-light ul {
        list-style: none;
        display: flex;
      } 
      nav ul {
        display: flex;
        gap: 4.4rem;
        align-items: center;
      }
      .navbar i{
        display: none;
      }
      .navbar ul li a{
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        text-transform: lowercase;
        color: #272D38;
          }

          .intro{
            display: flex;
        flex-direction: row;
        }
       
      .navbar-lift a{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #272D38;
      }
      .intro-build h1{
        max-width:54rem;
        font-style: normal;
      text-align: start;
      margin-bottom: 2.4rem;
      margin-top: 141px;
      font-weight: 700;
      font-size: 64px;
color: #272D38;
      }
      .intro-build p{
        max-width: 50rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #272D38;
        text-align: start;
        margin-top: 2.4rem;
        margin-bottom: 3.9rem;
      }
      .intro-build{
        display: flex;
  flex-direction: column;
  align-items: start;
      }
      .intro-build button{
        padding: 2rem;
        background: #8EADD5;
      border-radius: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      }
     .intro-img img{
      width: 358px;
      height: 358px;
      
   
      }
      .company-trusted h6{
        font-style: normal;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 100%;
        color: #667085;
      }
      .about-img img{
        max-width: 430px;
        height: 430px;
      
      }
      #about{
        display: flex;
        flex-direction:row;
        align-items: start;
        gap: 12rem;
      
      }
      .about-content h2{
        max-width: 43.5rem;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 100%;
        color: #272D38;
        margin-top: 10rem;
        text-align: start;
        margin-bottom: 2rem;
        flex-direction:row;
      }
      .about-content p{
        max-width: 44rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        color: #272D38;
        text-align:start;
        margin-bottom: 4.5rem;
      }
      .about-content:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
      }
      .about-content i{
        transform: none;
        text-align: start;
        margin-left: -41rem;
      font-size: 2.5rem;
      }
      .about-content i{
        transform: none;
        text-align: start;
        margin-left: -41rem;
      
      }






    






} 
